certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Pillow==5.3.0
PyGreSQL==5.0.6
Pyro4==4.74
requests==2.20.1
serpent==1.27
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
transliterate==1.10.2
